<div class="card my-5">
    <div class="card-body">
      <p><a routerLink="/create-todo" class="btn btn-info">Create ToDo</a></p>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">User</th>
            <th scope="col">Project</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos">
            <td>{{ todo.id }}</td>
            <td>{{ todo.name }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.userId }}</td>
            <td>{{ todo.projectId }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
